<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <style>
        body
        {
            background-image:url('https://static.runoob.com/images/mix/paper.gif');
            background-color:#cccccc;
        }
        </style>

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <!-- 导航栏商标 -->
  <li class="nav-item">
      <a class="navbar-brand" href="{% url 'article:article_list' %}">&emsp;&emsp;&emsp;返回首页&emsp;&emsp;&emsp;</a>
  </li>
  </div>
</nav>

<body>

<h2 style="text-align: center;">小组简介</h2>
<p style="text-align: center;font-size:16px">HH小组</p>
<p id="brief" style="text-align: center;">组长：黄焕</p>
<p id="brief" style="text-align: center;">组员：饶济华、赵佳蕴、宣吴丽娜、乐思尧</p>
<br><br>
<p id="brief" style="text-align: center;">有问题可以与我联系</p>
<br><br>
<p align="center"> <img src="../../static/images/bgimg/weixin.jpg" width="240" height="240" alt="作者微信" /></p>
</body>
</html>